/* =============================================================================
   Root Entry Point Styles
   ============================================================================= */

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
